{% extends "base.html.j2" %}

{% block title %}
<title>Dry Rock - About</title>
{% endblock title %}

{% block content %}
<div class="row mb-5">
  <div class="col">
    <section id="about" class="section-header w-100 mb-3">
      <h1 class="display-4 text-center pb-1">About</h1>
    </section>

    <p class="lead">
      Ever found yourself clicking through seemingly endless forecasts trying to figure out where
      to go climbing at the weekend? Well then you've come to the right place!
    </p>
    <hr class="my-4 mx-4">
    <p>
      Dry Rock is designed to be a one stop shop for figuring out where to go climbing.
    </p>
    <ul>
      <li>
        The <a href="/#overview">overview</a> table has a seven day rainfall summary for popular
        climbing destinations in Ireland
      </li>
      <li>
        Low rainfall values are shown in <span class="text-success">green</span> to make them
        easier to spot
      </li>
      <li>
        Clicking a row in the overview table will take you to a 7-day forecast for that place
      </li>
      <li>
        Clicking a row in the 7-day forecast table will show you a pop up with an hourly (or 6-hourly)
        detailed forecast for that day
      </li>
      <li>
        Clicking the overiew button will take you back to the overview table
      </li>
    </ul>

    <section id="app" class="section-header w-100 mb-3">
      <h2>Is there an app?</h2>
    </section>
    <p>
      There is not an app but if you go to the <a href="/">home</a> page on your mobile web browser,
      hit the three dots on the top bar and select "save to home screen" a link to the site will appear
      on your home screen. And of course you can bookmark the page to make it easier to find 😉
    </p>

    <section id="info" class="section-header w-100 mb-3">
      <h2>More Info</h2>
    </section>
    <p>
      Forecast data is provided by the <a href="https://www.met.no/en">
        Norwegian Meteorological Institute</a>. Many thanks to them for making
      their data freely available.
    </p>
    <p>
      This is an open source project, the source code is available on
      <a href="https://github.com/Rory-Sullivan/Dry-Rock">GitHub</a>. You can get in touch with me
      there or just 👋 at the local crag!
    </p>

    <div class="row align-items-center justify-content-around">
      <div class="col-auto text-center">
        <a href="https://github.com/Rory-Sullivan/Dry-Rock"><img src="/static/logos/GitHub-Mark/GitHub-Mark-64px.png"
            alt="GitHub logo"></a>
      </div>
      <div class="col-auto text-center">
        <a href="https://www.met.no/en"><img src="/static/logos/NMI-Logo/Met_RGB_Horisontal_ENG.jpg"
            alt="Norwegian Meteorological Institute logo" height="120px"></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
