<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Custom style sheets -->
  <link rel="stylesheet" href="/static/style.css">

  <!-- Icons -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">

  {% block title %}
  <title>Dry Rock</title>
  {% endblock title %}
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Dry Rock</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          {% for nav_link in nav_links %}
          <li class="nav-item">
            <a class="nav-link {% if nav_link.is_active %}active{% endif %}" href="
              {% if unit_system == 'METRIC' %}
                {{ nav_link.href_metric }}
              {% elif unit_system == 'IMPERIAL' %}
                {{ nav_link.href_imperial }}
              {% else %}
                #
              {% endif %}
            ">
              {{ nav_link.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav me-4">
          <li class="nav-item dropdown">
            <button class="btn dropdown-toggle btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
              Units
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="unitsNavbarDropdown">
              <li>
                <a class="dropdown-item {% if unit_system == 'METRIC' %}active{% endif %}"
                  href="{{ units_nav_link.href_metric }}">Metric</a>
              </li>
              <li>
                <a class="dropdown-item {% if unit_system == 'IMPERIAL' %}active{% endif %}"
                  href="{{ units_nav_link.href_imperial }}">Imperial</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content container-fluid bg-white pb-3">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
