

<div class="table-responsive">
  <table class="table border-bottom">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Rain</th>
        <th scope="col">Temp.</th>
        <th scope="col">Wind</th>
      </tr>
    </thead>
    <tbody>
      {% for forecast in forecasts %}
        <tr {% if forecast.day.weekday() in [5, 6] %} class="font-weight-bolder" {% endif %}>
          <th scope="row" class="text-nowrap">
            {{ forecast.day.strftime("%a") }} <small class="text-muted d-none d-md-inline">{{ forecast.day.strftime("%d %b") }}</small>
          </th>

          {% if forecast.total_rain.value <= 1.0 %}
            <td class="text-success text-nowrap">
          {% else %}
            <td class="text-primary text-nowrap">
          {% endif %}
            {{ forecast.total_rain.value | round(1) }} {{ forecast.total_rain.units }}
          </td>

          <td class="text-danger text-nowrap">
            {{forecast.min_temp.value | round | int }} / {{ forecast.max_temp.value | round | int }}
            {% if forecast.max_temp.units == "celsius" %}
              &deg;C
            {% elif forecast.max_temp.units == "farenheit" %}
              &deg;F
            {% else %}
              forecast.max_temp.units
            {% endif %}
          </td>
          <td class="text-nowrap">
            {{ forecast.max_wind_speed.value | round | int }} {{ forecast.max_wind_speed.units }} {{ forecast.max_wind_speed_direction.value }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
