{% macro create_table(intervals) -%}
<div class="tableContainer">
	<table class="placeTable">
		<thead>
			<tr>
				<th>Time</th>
				<th>Rain</th>
				<th>Temp</th>
				<th class="windHeader">Wind</th>
			</tr>
		</thead>
		<tbody>

			{% for interval in intervals %}
			{% set precip_variable = interval.variables_dict["precipitation"] %}
			{% set temp_variable = interval.variables_dict["temperature"] %}
			{% set wind_variable = interval.variables_dict["wind"] %}

			<tr>
				<td>{{interval.start_time}}</td>
				<td class="rainCell">{{precip_variable.value}} {{precip_variable.unit}}</td>
				<td class="tempCell">{{temp_variable.value}} {{temp_variable.unit|safe}}</td>
				<td class="windCell">{{wind_variable.value}} {{wind_variable.unit}} from {{wind_variable.direction}}
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
</div>
{%- endmacro %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Daily weather report</title>
	<style type="text/css">
		{% include "style.css" %}
	</style>
</head>

<body>
	<div class="outlook">
		<h1>Overview</h1>
		<div class="container">
			<div class="tableContainer">
				<table class="outlookTable">
					<thead>
						<tr>
							<th>Place</th>
							<th>Tomorrow</th>
							<th>Saturday</th>
							<th>Sunday</th>
						</tr>
					</thead>
					<tbody>
						{% for place in context %}
						<tr class="clickableRow" onclick="window.location='#{{place.name}}Header';">
							{# <td class="placeCell">{{least_rain[0][0]}}</td>
								<td class="rainCell">{{least_rain[0][1]}} mm</td> #}
							<td class="placeCell">{{place.name}}</td>
							{% if total_rains[0][place.name] <= 0.5 %}
							<td class="rainCell" style="color: green;">
								{{total_rains[0][place.name]}} mm
							</td>
							{% else %}
							<td class="rainCell">
								{{total_rains[0][place.name]}} mm
							</td>
							{% endif %}
							{% if total_rains[1][place.name] <= 0.5 %}
							<td class="rainCell" style="color: green;">
								{{total_rains[1][place.name]}} mm
							</td>
							{% else %}
							<td class="rainCell">
								{{total_rains[1][place.name]}} mm
							</td>
							{% endif %}
							{% if total_rains[2][place.name] <= 0.5 %}
							<td class="rainCell" style="color: green;">
								{{total_rains[2][place.name]}} mm
							</td>
							{% else %}
							<td class="rainCell">
								{{total_rains[2][place.name]}} mm
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="place">
		{% for place in context %}
		<a href={{place.yr_link}}>
			<h1 id="{{place.name}}Header">{{place.name}}</h1>
		</a>

		<div class="container">
			<h2>Tomorrow - {{place.tomorrows_date}}</h2>

			{{create_table(place.tomorrows_intervals)}}

			<div class="sunTimesContainer">
				<small id="sunTimes">Sunrise: {{place.sunrise_time}}</small>
				<small id="sunTimes">Sunset: {{place.sunset_time}}</small>
			</div>

			<h2>Saturday - {{place.saturdays_date}}</h2>

			{{create_table(place.saturdays_intervals)}}

			<h2>Sunday - {{place.sundays_date}}</h2>

			{{create_table(place.sundays_intervals)}}

			<small class="updatedAt">Updated at: {{place.updated_at}}</small>

			<a href={{place.yr_link}}>
				<p class="citeYr">{{place.cite_yr}}</p>
			</a>
		</div>
		{% endfor %}
	</div>
</body>

</html>
