/* General */
body {
	width: 70%;
	margin: auto;
}

a {
    text-decoration: none;
    color:black;
}

table tr.clickableRow{
	cursor: pointer;
}


/* Containers */
.container{
	width: 90%;
	margin: auto;
	font-family: arial, helvetica, sans-serif;
}

div.tableContainer{
	overflow-x: auto;
}

div.sunTimesContainer{
	text-align: center;
}


/* Outlook */
.outlook h1 {
	text-align: center;
	background-color: lightblue;
	padding: 10px;
	color: black;
	font-family: Georgia, serif;
	font-size: 2em;
}

.outlook h2 {
	text-indent: .7em;
	font-size: 1.1em;
}

table.outlookTable {
	width:100%;
	border-collapse: collapse;
	background-color: aliceblue;
}

table.outlookTable tr{
	border-bottom: 1px grey solid;
}



table.outlookTable th {
	padding: 3px 4px;
	font-weight: normal;
	color: grey;
	text-align: left;
	text-indent: .5em;
}

table.outlookTable td{
	padding: 3px 4px;
	white-space: nowrap;
}

table.outlookTable td.dayCell {
	text-align: left;
}

table.outlookTable td.placeCell {
	text-align: left;
}

table.outlookTable td.rainCell {
	color: blue;
}


/* Place */
.place h1 {
	text-align: center;
	background-color: lightgrey;
	padding: 10px;
	color: black;
	font-family: Georgia, serif;
	font-size: 2em;
}

.place h2 {
	text-indent: .7em;
	font-size: 1.1em;
}

#sunTimes{
	padding: 1em;
	text-align: center;
}

.place small.updatedAt{
	display: block;
	margin-top: 1em;
}

table.placeTable {
	width:100%;
	border-collapse: collapse;
	background-color: aliceblue;
}

table.placeTable tr{
	border-bottom: 1px grey solid;
}

table.placeTable th {
	padding: 3px 4px;
	font-weight: normal;
	color: grey;
	text-indent: .5em;
}

table.placeTable th.windHeader {
	text-align: left;
}

table.placeTable td{
	padding: 3px 4px;
	white-space: nowrap;
}

table.placeTable td.rainCell {
	color: blue;
}

table.placeTable td.tempCell {
	color: red;
	padding-left: 1em;
}

table.placeTable td.windCell {
	text-align: left;
	padding-left: 10px;
}
